body {
    font-family: "Lato", sans-serif;
}

p {
    font-size: 18px;
}

i {
    font-size: 18px;
}

table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.hover {
    cursor: pointer;
}

.hover-opacity {
    cursor: pointer;
}

.hover-opacity:hover {
    opacity: 0.7;
}

.container {
    padding: 50px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    gap: 50px;
}

.rundenzeit {
    flex: 50%;
    text-align: center;
}

.bestenliste {
    flex: 50%;
    text-align: center;
}

.image {
    flex: 25%;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 50px;
    padding: 50px;
}

.container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.container-social {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.container-sponsor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.logoBanner {
    width: 60%;
}

.item {
    flex: 50%;
}

.item21 {
    flex: 60%;
}

.item22 {
    flex: 40%;
}

.itemLogo {
    flex: 40%;
}

.logo {
    width: 100%;
}

.endLogo {
    width: 34%;
}

.svgtext {
    x: 47.9%;
}

.rick {
    width: 10px;
    opacity: 50%;
}

@media all and (max-width: 1100px) {
    .bestenliste {
        flex: 100%;
    }
    .image {
        flex: 100%;
        display: none;
    }
    .carrera {
        content: url("/img/carreraCrop32.png");
    }
    .logoBanner {
        width: 100%;
    }
    table {
        width: 100%;
    }
    .item {
        flex: 100%;
    }
    .item21 {
        flex: 100%;
        order: 2;
    }
    .item22 {
        flex: 100%;
        order: 1;
    }
    .itemLogo {
        flex: 100%;
    }
    .container2 {
        flex-wrap: wrap;
        gap: 0px;
        padding: 15px;
        padding-bottom: 40px;
    }
    .container3 {
        flex-wrap: wrap;
        gap: 0px;
        padding: 15px;
        padding-bottom: 40px;
    }
    .endLogo {
        width: 100%;
    }
    .svgtext {
        x: 40%;
    }
}